<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="majiaogeo" connectionString="server=59.110.159.142;user id=root;password=uAiqwVwjJ8-i;database=majiaogeo"/>
  </connectionStrings>
</configuration>